In [1]:
add = lambda x, y: x+y
print(add(100,200))

300

In [ ]:
filter(함수,기준 리스트)

In [4]:
ages=[1,2,3,4]

for a in filter(lambda x:x>=2,ages):
    print(a,'',end='')

2 3 4

In [20]:
a=[1,2,3,4,5,6]
squre_a=list(map(lambda x:x**2,a))
print(squre_a)

[1, 4, 9, 16, 25, 36]

In [21]:
a=[1,2,3,4,5,6,7]
a=[x**2 for x in a]

In [16]:
from functools import reduce

a= range(1000,2001)
n= reduce(lambda x,y:x+y,a)
print(n)

1501500

In [45]:
st='Hello'
s_list=list(st.upper())
s_list

['H', 'E', 'L', 'L', 'O']

In [29]:
n_list=[1,2,3,4,-1,-2,-3]
minus_list=[x for x in n_list if x<0]
print(minus_list)

[-1, -2, -3]

In [33]:
product_xy=[x*y for x in [1,2,3] for y in [4,5,6]]
print(product_xy)

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [46]:
product_xy=[x,y if x%2==0  if y%3==0]
print(product_xy)

SyntaxError: invalid syntax (2875251266.py, line 1)