In [1]:
# 10.27 일 수업 대체 10장  pandas

In [2]:
# pandas 는 데이터베이스가 행과 열로 이루어진 것 
# 보통 약자로 pd로 한다

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [17]:
import pandas as pd

In [18]:
test_dict={'corey':[63,75,88],'kevin':[48,98,92],'akshay':[87,86,85]}

In [19]:
df=pd.DataFrame(test_dict)

In [20]:
df

   corey  kevin  akshay
0     63     48      87
1     75     98      86
2     88     92      85

In [21]:
df=df.T             #행과 열이 바뀜
df

         0   1   2
corey   63  75  88
kevin   48  98  92
akshay  87  86  85

In [23]:
df.columns=['quiz_1','quez_2','quiz_3']        #columns은 열로 세로이다
df

        quiz_1  quez_2  quiz_3
corey       63      75      88
kevin       48      98      92
akshay      87      86      85

In [27]:
df.iloc[1]        #df.iloc[x]  x번째 행이 나온다

quiz_1    48
quez_2    98
quiz_3    92
Name: kevin, dtype: int64

In [26]:
df.iloc[0,:]     #첫번째 컬럼가져옴

quiz_1    63
quez_2    75
quiz_3    88
Name: corey, dtype: int64

In [28]:
df['quiz_1']

corey     63
kevin     48
akshay    87
Name: quiz_1, dtype: int64

In [30]:
df.quiz_1

corey     63
kevin     48
akshay    87
Name: quiz_1, dtype: int64

In [34]:
df.iloc[:,0]     #첫번째 컬럼가져옴

corey     63
kevin     48
akshay    87
Name: quiz_1, dtype: int64

In [38]:
rows=['corey','kevin']
cols=['quiz_2','quiz_3']
df_spring=df.loc[rows,cols]       #df.iloc 의 iloc은 숫자가 들어가야한다.
df_spring

KeyError: "['quiz_2'] not in index"