In [ ]:
#6.4 부터 수업시작
#for문은 횟수 (for a in (범위))
#while문은 조건문 = while (조건식)-> 참 거짓을 판별함으로 T or F로 나온다,
#스무고개 게임
import random

com= random.randrange(1,21)
user=-1                      # -1의 의미는 없다. 왜 근데 -1 을 둔것이냐면 만약 같은 수를 고를경우 
                             #true이기 때문에  while 로 다시 올라가기 때문에 false가 필요하다 그래서 사용한것
while com!=user:            #!=는 다르다는 의미
    user=int(input("1~20 사이의 수 입력:"))
    if com==user:
        print('맞췄습니다')
    elif com>user:
        print('더 큰 수입니다.')
    else:
        print('더 작은 수입니다.')

In [ ]:
#while True 는 무한반복 의미 = while 양의 정수
#스무고개 게임
import random

com= random.randrange(1,21)
while True:
    user=int(input("1~20 사이의 수 입력:"))
    if com==user :
        print('맞췄습니다')
        break
    elif com>user:
        print('더 큰 수입니다.')
    else:
        print('더 작은 수입니다.')          # 2번줄과 같은 결과

In [ ]:
# break 와 continue 
# break는 반복 조건문 탈출시 사용하고
#continue는 밑의 코드를 실행하지 않고 다시 시작

In [6]:
for dan in range(2,10):
    if dan%2==1:
        continue
    print('\n%d단:' % dan)
    for num in range(1,10):
        print('%dx%d=%d '%(dan,num,dan*num))

2단:
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18

4단:
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36

6단:
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54

8단:
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72

In [1]:
dan=2
for k in range(72):
    num =k%9+1
    print('%d*%d=%d '%(dan,num,dan*num),end='')
    if num==9:
        dan=dan+1
        print()

2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [ ]:
mul=1
for k in range(9,0,-2):
    mul*=k
print('mul=',mul)


print('\n')
mul=1
for k in range(9,0,-2):
    mul*=k
    print('mul=',mul)

In [ ]:
#7강 시작
#변수에 저장되는 값은 하나밖에 없다.

In [ ]:
#arr=[1,2,3,4,5] 라 쓰면 변수 5개를 하나로 묶은 리시트로 만든 것이다. 대괄호[]와 ,콤마로 표현한다.
#arr=[12,34,56]이 있으면 arr[0]=12 , arr[1]=34, arr[2]=58이다
#arr안에는 정수 실수 스트링 불린 모두 저장 가능하다.
#index 는 0부터 시작 arr, index 모두 정수이다 (음수x)

In [ ]:
arr=[12,23,45]
sum(arr)

In [ ]:
arr[0]=30
arr[1]=40
sum=arr[0]+arr[1]
sum

In [ ]:
arr=[12,23,45]
sum(arr)
sum=arr[0]+arr[1]+arr[2]
print(sum)

In [ ]:
import random as r  #import random을 하는데 r로 축약을 하겠다(as)

In [ ]:
#arr=[]*10 dms 10개의 빈 리스트를 만든다
#arr=list() 는 arr=[] 과 같은 말이다.
#2개 이상의 자료가 있어야 list 취급
#arr의 더하기 연산은 병합이다.
#삭제하는 법은 del(index)

In [ ]:
import random as r
for k in range(200):
    for s in range(26):
        for m in range(0,r.randrange(1,58)):
            print('ㅁ',end='')
        print()

In [4]:
#기존 리스트에 새로운 리스트 추가를 원하면 .append()를 사용한다, 가장 마지막 원소로 들어감 = 더하기와 같은 개념
arr=[12,23,34]
b=arr+[10]
c=b*2
c.remove(10)    #c에 곱하기 2를 하였는데 여기서 remove 사용시 처음()괄호안에 값만 삭제가 된다.

[12, 23, 34, 12, 23, 34, 10]

In [6]:
b

[12, 23, 34, 10]

In [7]:
c

[12, 23, 34, 12, 23, 34, 10]

In [20]:
c.sort
c
d=sorted(c)            #정렬 후 복사
d

[10, 12, 12, 23, 23, 34, 34]

In [ ]:
#리스트에서 하나의 값을 표현한것은 리스트가 아니다