In [108]:
n_list=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

print('s_list1=',n_list[:5])
print('s_list2=',n_list[5:11])
print('s_list3=',n_list[11:15])
s_list4=n_list[2:11:2]
s_list4.append(5)
s_list4.sort()
print('s_list4=',s_list4)
print('s_list5=',n_list[10:5:-1])
print('s_list6=',n_list[10:1:-2])

s_list1= [0, 1, 2, 3, 4]
s_list2= [5, 6, 7, 8, 9, 10]
s_list3= [11, 12, 13, 14]
s_list4= [2, 4, 5, 6, 8, 10]
s_list5= [10, 9, 8, 7, 6]
s_list6= [10, 8, 6, 4, 2]

In [113]:
list1=[3,5,7]
list2=[2,3,4,5,6]
mul=0

for k in list1:
    for i in list2:
        mul=k*i
        print('%d * %d = %d'%(k,i,mul))

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [6]:
num=list(map(int,input('5개의 수를 입력하시오').split()))
print('합:',sum(num))
print('평균:',sum(num)/len(num))
print('최대값:',max(num))
print('최솟값:',min(num))

5개의 수를 입력하시오45 67 20 34 15
합: 181
평균: 36.2
최대값: 67
최솟값: 15

In [15]:
import random 
dice=[0]*6

for k in range(1000):
    value=random.randint(0,5)
    dice[value]=dice[value]+1
for k in range(0,6):
    print('주사위 눈이',k+1,'인 횟수',dice[k])

주사위 눈이 1 인 횟수 157
주사위 눈이 2 인 횟수 157
주사위 눈이 3 인 횟수 146
주사위 눈이 4 인 횟수 195
주사위 눈이 5 인 횟수 163
주사위 눈이 6 인 횟수 182

In [27]:
new_list = []
for x in range(1, 30):
    for y in range(1, 30):
        for z in range(1, 30):
            if x**2 + y**2 == z**2:
                new_list.append((x,y,z))
                print('(',x,y,z,')')

 3  4  5
 4  3  5
 5  12  13
 6  8  10
 7  24  25
 8  6  10
 8  15  17
 9  12  15
 10  24  26
 12  5  13
 12  9  15
 12  16  20
 15  8  17
 15  20  25
 16  12  20
 20  15  25
 20  21  29
 21  20  29
 24  7  25
 24  10  26

In [32]:
money = int(input("교환할 돈은 얼마?")) 
c50000 = money //50000
money %= 50000 
## 500000원으로 나눈다
c10000 = money //10000
money %= 10000 
## 10000원으로 나눈다
c5000 = money //5000
money %= 5000 
## 50000원으로 나눈다
c1000 = money //1000
money %= 1000 
## 1000원으로 나눈다
c500 = money //500
money %= 500 
## 500원으로 나눈다
c100 = money //100
money %= 100 
## 100원으로 나눈다
c50 = money //50
money %= 50 
## 50원으로 나눈다
c10 = money //10
money %= 10 
## 10원으로 나눈다
print('\n50000원\t %d장'%c50000)
print('10000원\t %d장'%c10000)
print('5000원\t %d장'%c5000)
print('1000원\t %d장'%c1000)
print('500원\t %d개'%c500)
print('100원\t %d개'%c100)
print('50원\t %d개'%c50)
print('10원\t %d개'%c10)

교환할 돈은 얼마?120000

50000원	 2장
10000원	 2장
5000원	 0장
1000원	 0장
500원	 0개
100원	 0개
50원	 0개
10원	 0개

In [34]:
import random 
dice=[0]*6

for i in range(1000):
    value=random.range(1,7)
    dice[value]+=1
for i in range(6):
    print('주사위 %d은 %d번나옴'%(i+1,dice[i]))

AttributeError: module 'random' has no attribute 'range'

In [51]:
num=list(map(int,input('쉼표구분으로 오름차순 정리:').split(',')))
num.sort()
print(num)
list_str=str(num)[1:-1]
print(list_str)

쉼표구분으로 오름차순 정리:8,5,4,7
[4, 5, 7, 8]

TypeError: 'str' object is not callable